<div class="row mb-3">
    <div class="col-12">
        <h5>Редактировать</h5>
    </div>
    <div class="col-3">
        <input  type="text" class="form-control" placeholder="id" [(ngModel)]="id" #tableId>
    </div>
    <div class="col-3">
        <input type="text" class="form-control" placeholder="Имя" [(ngModel)]="name">
    </div>
    <div class="col-3">
        <input type="text" class="form-control" placeholder="Фамилия" [(ngModel)]="surname">
    </div>
    <div class="col-3">
        <select class="custom-select" [(ngModel)]="type">
            <option [ngValue]="myWorkerType.programmer">Программист</option>
            <option [ngValue]="myWorkerType.designer">Дизайнер</option>
            <option [ngValue]="myWorkerType.copywriter">Рекламщик</option>
            <option [ngValue]="myWorkerType.manager">Менеджер</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <button class="btn btn-outline-info btn-sm" (click)="EditWorker(id)">
            Редактировать
        </button>
    </div>
</div>
